In [1]:
import pandas as pds
import networkx as nx
import seaborn as sns
import matplotlib.pyplot as plt

## function to execute SQL (SQLite compliant) over pandas dataframes
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals()) 

## function for printing pandas tables as markdown
from tabulate import tabulate
def print_pandas_md(df):
    print(tabulate(df, tablefmt="pipe", headers="keys"))

In [2]:
all_data_df = pds.read_csv("Biosample_all.tsv.gz", sep="\t")

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13,14,16,18,19,23,26,27,28,29,30,34,35,36,37,39,41,42,43,44,45,52,57,62,70,72,73,76,77,78,79,86,98,99,100,103,104,105,106,111,119,124,133,134,135,142,144,146,149,165,191,208,229,233,252,253,254) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
elevels = ['ECOSYSTEM', 'ECOSYSTEM_CATEGORY', 'ECOSYSTEM_TYPE', 'ECOSYSTEM_SUBTYPE', 'SPECIFIC_ECOSYSTEM']
elevelsdf = all_data_df[elevels]

## Look for null values in one of the levels that is followed by a non-null value

### ECOSYSTEM is null

In [6]:
q = """
select distinct 
    ECOSYSTEM, ECOSYSTEM_CATEGORY, ECOSYSTEM_TYPE, ECOSYSTEM_SUBTYPE, SPECIFIC_ECOSYSTEM
from
    elevelsdf
where
    ECOSYSTEM is NULL
"""
sqldf(q)

,ECOSYSTEM,ECOSYSTEM_CATEGORY,ECOSYSTEM_TYPE,ECOSYSTEM_SUBTYPE,SPECIFIC_ECOSYSTEM
0,None,None,None,None,None

All columns are null, so no data to worry about modeling.

### ECOSYSTEM_CATEGORY is null

In [7]:
q = """
select distinct 
    ECOSYSTEM, ECOSYSTEM_CATEGORY, ECOSYSTEM_TYPE, ECOSYSTEM_SUBTYPE, SPECIFIC_ECOSYSTEM
from
    elevelsdf
where
    ECOSYSTEM_CATEGORY is NULL
"""
sqldf(q)

,ECOSYSTEM,ECOSYSTEM_CATEGORY,ECOSYSTEM_TYPE,ECOSYSTEM_SUBTYPE,SPECIFIC_ECOSYSTEM
0,None,None,None,None,None

All columns are null, so no data to worry about modeling.

### ECOSYSTEM_TYPE is null

In [8]:
q = """
select distinct 
    ECOSYSTEM, ECOSYSTEM_CATEGORY, ECOSYSTEM_TYPE, ECOSYSTEM_SUBTYPE, SPECIFIC_ECOSYSTEM
from
    elevelsdf
where
    ECOSYSTEM_TYPE is NULL
"""
sqldf(q)

,ECOSYSTEM,ECOSYSTEM_CATEGORY,ECOSYSTEM_TYPE,ECOSYSTEM_SUBTYPE,SPECIFIC_ECOSYSTEM
0,None,None,None,None,None
1,Host-associated,Human,None,None,None
2,Host-associated,Fungi,None,None,None
3,Host-associated,Plants,None,None,None

All values after ECOSYSTEM_TYPE are null, so no data to worry about modeling.

### ECOSYSTEM_SUBTYPE is null

In [10]:
q = """
select distinct 
    ECOSYSTEM, ECOSYSTEM_CATEGORY, ECOSYSTEM_TYPE, ECOSYSTEM_SUBTYPE, SPECIFIC_ECOSYSTEM
from
    elevelsdf
where
    ECOSYSTEM_SUBTYPE is NULL
    and SPECIFIC_ECOSYSTEM is not NULL
"""
sqldf(q)

Empty DataFrame
Columns: [ECOSYSTEM, ECOSYSTEM_CATEGORY, ECOSYSTEM_TYPE, ECOSYSTEM_SUBTYPE, SPECIFIC_ECOSYSTEM]
Index: []

No values exist where the ECOSYSTEM_TYPE is null, and the SPECIFIC_ECOSYSTEM is not null.

# Finding
There are not any rows where one of the GOLD levels is null, and a value after it is not null